[Unit]
Description=Run Chloe Orchestrator Nightly daily

[Timer]
OnCalendar=03:05
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
